<div class = "page">
    
    <div id='calendar'></div>

    <br><br>

    <h6 class = "centerme">Describe the appointment: </h6>

<!--     <input class= "centerme" [(ngModel)]="desc" #ctrl="ngModel" required placeholder="Description"> -->

<!--     <igx-time-picker class="centerme" [(ngModel)]="date" format="hh:mm:tt" [minValue]="min" [maxValue]="max" [itemsDelta]="{hours: 1, minutes:30}" (onValidationFailed)="onValidationFailed($event)" aria-placeholder="Select a time"></igx-time-picker>

    <igx-toast #toast message="Value must be between 09:00AM and 4:30PM"></igx-toast>

    <igx-date-picker class="centerme" (onSelection)="dateSelection($event)" cancelButtonLabel="cancel" todayButtonLabel="today" aria-placeholder="Select a date"></igx-date-picker> -->


</div>

<router-outlet></router-outlet>


