.headerText{
    text-align: center;
    color: darkgrey;
    font-family: 'Permanent Marker', cursive;
}

body {
  text-align: center;
  height: 100%;
  position: fixed;
  min-width: 100%;
  background-image: url("https://www.hdwallpapers.in/download/abstract_purple_4k_hd_abstract_3-HD.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: 100%;
  background-size: cover;
  background-position: center;
}

.transparentImgs {
    background: transparent !important;
}
