.headerText{
    text-align: center;
    color: darkgrey;
    font-family: 'Permanent Marker', cursive;
}

body {
    text-align: center;
    height: 100%;
    position: fixed;
    min-width: 100%;
    background-image: url("https://papers.co/wallpaper/papers.co-vc81-triangles-green-blue-lights-pattern-36-3840x2400-4k-wallpaper.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

.transparentImgs {
    background: transparent !important;
}
