<body>

  <ul class="appsList">
    <li>
      <h6 class="headings">Appointment App</h6>
      <a href="calendar" class="linkChange">
        <img class="imgs" id="imgs" src="https://img.icons8.com/clouds/2x/calendar.png" />
        <span class="box rotate" id="box"></span>
      </a>
    </li>
  
    <li>
      <h6 class="headings">Brain Game</h6>
      <a href="brain" class="linkChange">
        <img class="imgs" id="imgs" src="https://img.icons8.com/clouds/2x/brain.png" />
        <span class="box rotate" id="box"></span>
      </a>
    </li>
  
  
    <li>
      <h6 class="headings">Banking App</h6>
      <a href="" class="linkChange">
        <img class="imgs" id="imgs" src="https://img.icons8.com/clouds/2x/bank-building.png" />
        <span class="box rotate" id="box"></span>
      </a>
    </li>
  
    <li>
      <h6 class="headings">Reimburement App</h6>
      <a href="" class="linkChange">
        <img class="imgs" id="imgs" src="https://img.icons8.com/clouds/2x/cash-in-hand.png" />
        <span class="box rotate" id="box"></span>
      </a>
    </li>
  
  </ul>

`   <!--Font -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

</body>
<router-outlet></router-outlet>