body {
    height: 100%;
    position: fixed;
    min-width: 100%;
    background-image: url("https://www.itl.cat/pngfile/big/12-120756_simple-wallpaper-hd-backgrounds-simple-wallpaper-hd.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

table{
    color: royalblue;

}
table, th, td {
    border: 1px solid black;
}

.itemNo{
    width: 30px;
}
.checkBox{
    width: 30px;
}