.headings{
    font-family: 'Modak', cursive;
    text-align: center;
}

.subheadings{
    text-align: center;
}

body {
    height: 100%;
    position: fixed;
    min-width: 100%;
    background-image: url("https://www.teahub.io/photos/full/0-6092_4k-background.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Alegreya', serif;
    overflow: scroll;
}

.linksList {
    list-style: none;
    display: inline-block;
    float: none;
    text-align: center;
    display: flex;
    margin: 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

.linksList li {
    position: relative;
    display: inline-block;
    float: left;
    padding: 45px;
}

.linksList .listHeadings {
    text-align: center;
    color: lightgreen;
}

#squiggles {
    text-align: center;
    color: orange;
}

#squiggles:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 3px;
    background-repeat: repeat-x;
    text-decoration: none;
}


#boxedSquiggle {

}