body {
    height: 100%;
    position: fixed;
    min-width: 100%;
    background-image: url("https://i.imgur.com/9xjBV.png");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

/* Center the button */
.feedbackButton{
    background-color: transparent;
    text-align: center;
}

#previousFb {
    position: absolute;
    left:50%;
    top: 30%;
    transform: translateX(-50%);
}

/* A dark modal */
.modal-content{
    background-color:#222;
    color:#ddd;
}

/* customize the close icon's color */
.close {
    color: #fff; 
    opacity: 1;
}

.headingText {
    text-align: center;
}

.stars {
    font-size: x-large;
    color: green;
}