<body>

    <h3 class = "linkedin">LinkedIn</h3>

    <div class = "pulseBox">
        <a class="linkChange" href ="http://linkedin.com/in/benjamin-edwards-30278715a">
            <img class="imgCircle" src="https://img.icons8.com/android/10x/linkedin.png"/>
        </a>
    </div>


    <h3 class = "github">Github</h3>

    <div class = "pulseCircle">
        <a class="linkChange2" href="http://github.com">
            <img class="imgBox" src="https://img.icons8.com/material-sharp/10x/github.png"/>
        </a>
    </div>
    
</body>
<router-outlet></router-outlet>