<body>

    <ul class="appsList">
        <li>
          <h6 class="headings">Weather Application</h6>
          <a href="weather" class="linkChange">
            <img class="imgs" id="imgs" src = "https://img.icons8.com/clouds/2x/snow-storm.png"/>
          </a>
        </li>
      
        <li>
          <h6 class="headings">Grocery-List/To-Do App</h6>
          <a href="todo" class="linkChange">
            <img class="imgs" id="imgs" src = "https://img.icons8.com/clouds/2x/checklist.png"/>
          </a>
        </li>
    </ul>
    
    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">
    


</body>
<router-outlet></router-outlet>