@import url("https://fonts.googleapis.com/css?family=Dekko|Lato:900|Rock+Salt");
:root {
    --mainColor: #ff9800;
  }
  
  body {
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    height: 100vh;
    justify-content: center;
  }
  
  a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 3px 3px;
    color:skyblue;
    text-decoration: none;
  }
  
  a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }
  
  #first {
    background-color: dodgerblue;
  }

  #second {
    background-color: chartreuse;
  }

  #third {
    background-color: indianred;
  }


  h1 {
    --color1: #1528ec;
    --color2: #ff0a0a;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 46px;
    background: repeating-linear-gradient(
      45deg,
      var(--color1),
      var(--color1) 30px,
      var(--color2) 30px,
      var(--color2) 60px
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: 40s linear 0s infinite move;
  }
  
  @keyframes move {
    from {
      background-position: 0px;
    }
    to {
      background-position: 1000px;
    }
  }












/* Begin Comics */
 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #eee;
  /* center the content in the page (mainly horizontally) */
  display: grid;
  place-items: center;
  /* include the same texture used for the .bubble containers, but with notably less opacity */
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.2" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #c52754;
  background-size: 10px, 100%;
}

/* .bubble containers: add the texture above a solid background */
.bubble {
  /* cap the width */
  max-width: 500px;
  /* give ample whitespace around and inside of the container */
  margin: 2rem 0;
  padding: 0.2rem 1.25rem;
  text-align: center;
  font-family: "Dekko", cursive;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  /* solid border */
  border: 0.4rem solid #000;
  /* position relative for the :before pseudo element */
  position: relative;
}

/* for the highlight container change the solid backgorund to a yellow-ish hue */
.bubble--highlight {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffcd28;
  background-size: 13px, 100%;
  font-weight: 700;
}
/* for the highlight container always add an exclamation point */
.bubble--highlight:after {
  content: "!";
}
/* for every .bubble container add a solid background behind the container itself, slightly offset */
.bubble:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.15rem;
  width: 100%;
  height: 100%;
  /* with the same texture, but different color, for both the texture and the background */
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #000;
  background-size: 12px, 100%;
  border: 0.4rem solid #000;
  z-index: -5;
}

/* for the tag, add a lot of whitespace below the string, to include the name through the pseudo element */
.tag {
  margin-bottom: 2rem;
  padding: 1rem 7.5rem 11rem;
  border-radius: 30px;
  font-size: 2rem;
  color: #fff;
  background: #f8012d;
  text-align: center;
  font-family: "Lato", sans-serif;
  box-shadow: 0 1px 15px -7.5px #000000;
  /* position relative for the pseudo element(s) */
  position: relative;
}
.tag strong {
  text-transform: uppercase;
  font-size: 3.5rem;
}
/* with the :before pseudo element include a solid white background */
.tag:before {
  content: "";
  position: absolute;
  top: 9rem;
  left: 2%;
  width: 96%;
  height: 9rem;
  background: #fff;
  /* border-radius mathing the .tag container */
  border-radius: 0 0 30px 30px;
}
/* with the :after pseudo element add the name of the character */
.tag:after {
  content: "Benjamin Edwards";
  position: absolute;
  top: 11.25rem;
  left: 0;
  width: 75%;
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  font-weight: 300;
  font-weight: bold;
  color: #000;
}


/* End comics */













/*Canvas that contains the ghost, change this values to move around or resize the ghost*/
.ghost-canvas{
  position: relative;
  width: 600px;
  height: 400px;
  margin: 100px auto 0 auto;
}

.ghost-body{
  position: absolute;
  height: 28%;
  width: 22%;
  background-color: white;
  left: 40%;
  top:  33%;
/*ANIMATION START*/
  animation-name: floating;
  animation-duration: 10s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
/*ANIMATION END*/
}
.ghost-body-copy{
  position: absolute;
  height: 28%;
  width: 22%;
  background-color: white;
  left: 40%;
  top:  33%;
  z-index: 1;
}

.ghost-head{
  position: absolute;
  height: 100%;
  width: 100%;
  top: -50%;
  background-color: white;
  border-radius: 90px;
  
}
.eye-right{
  position: absolute;
  height: 22%;
  width: 20%;
  right: 22%;
  top: 40%;
  background-color: black;
  border-radius: 50%;
}
.eye-left{
  position: absolute;
  height: 22%;
  width: 20%;
  left: 22%;
  top: 40%;
  background-color: black;
  border-radius: 50%;
}
.mouth{
  position: absolute;
  height: 26%;
  width: 24%;
  left: 38%;
  top: 70%;
  background-color: black;
  border-radius: 50%;
  z-index: 2
}
.down-bubble{
  position: absolute;
  height: 55%;
  width: 100%;
  top:70%;
}

.bubble-1{
  position: absolute;
  height: 100%;
  width:25%;
  background-color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
/*ANIMATION START*/
  animation-name: bubble;
  animation-duration: 2.8s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
/*ANIMATION END*/
}
.bubble-2{
  position: absolute;
  height: 100%;
  width:25%;
  left: 25%;
  background-color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
/*ANIMATION START*/
  animation-name: bubble;
  animation-duration: 3.2s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
/*ANIMATION END*/
}
.bubble-3{
  position: absolute;
  height: 100%;
  width:25%;
  right: 25%;
  background-color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
/*ANIMATION START*/
  animation-name: bubble;
  animation-duration: 3.4s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
/*ANIMATION END*/
}
.bubble-4{
  position: absolute;
  height: 100%;
  width:25%;
  right: 0;
  background-color: white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
/*ANIMATION START*/
  animation-name: bubble;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
/*ANIMATION END*/
}

/*ANIMATION START*/
@keyframes bubble{
  0%{
      top: 0;
  }
  50%{
      top:20%;
  }
   100%{
      top: 0;
  }
}
@keyframes floating{
  0%{top: 33%;}
  30%{top: 40%;}
  50%{top:33%;}
  70%{top:25%;}
  100%{top:33%;}
}